


# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/
staticfiles/

# Virtualenv
venv/
.env

# Mac/Linux
.DS_Store

# IDE
.vscode/
.idea/
"db.sqlite3" 
"*.sqlite3" 
"staticfiles/" 
".env" 
